/** Icon font */
@font-face{
	font-family: "DonIcons";
	src: url("../fonts/DonIcons.eot");
	src: url("../fonts/DonIcons.eot#iefix") format("embedded-opentype"),
		 url("../fonts/DonIcons.woff2") format("woff2"),
		 url("../fonts/DonIcons.ttf") format("truetype"),
		 url("../fonts/DonIcons.woff") format("woff"),
		 url("../fonts/DonIcons.svg#DonIcons") format("svg");
	font-weight: normal;
	font-style: normal;
}

.i.up::before				{	content: "\2303";	}
.i.down::before				{	content: "\2304";	}
.i.left::before				{	content: "\2039";	}
.i.right::before			{	content: "\203a";	}
.i.up-thin::before			{	content: "\fe3f";	}
.i.down-thin::before		{	content: "\fe40";	}
.i.left-thin::before		{	content: "\3008";	}
.i.right-thin::before		{	content: "\3009";	}
.i.arrow-up::before			{	content: "\2191";	}
.i.arrow-down::before		{	content: "\2193";	}
.i.arrow-left::before		{	content: "\2190";	}
.i.arrow-right::before		{	content: "\2192";	}
.i.fb::before				{	content: "\1d5f3";	}
.i.tw::before				{	content: "\1f54a";	}
.i.pi::before				{	content: "\24c5";	}
.i.pi2::before				{	content: "\1d4df";	}
.i.add::before				{	content: "+";		}
.i.env::before				{	content: "\2709";	}
.i.nav::before				{	content: "\2630";	}
